body {
  background: radial-gradient(ellipse at bottom, #1e2f3f 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(135deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(135deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(135deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(135deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(135deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(135deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(135deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -69px);
  left: calc(50% - 169px);
  -webkit-animation-delay: 895ms;
          animation-delay: 895ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 895ms;
          animation-delay: 895ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -132px);
  left: calc(50% - 289px);
  -webkit-animation-delay: 2274ms;
          animation-delay: 2274ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 2274ms;
          animation-delay: 2274ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -186px);
  left: calc(50% - 264px);
  -webkit-animation-delay: 6893ms;
          animation-delay: 6893ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 6893ms;
          animation-delay: 6893ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - -165px);
  left: calc(50% - 187px);
  -webkit-animation-delay: 9327ms;
          animation-delay: 9327ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 9327ms;
          animation-delay: 9327ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -40px);
  left: calc(50% - 287px);
  -webkit-animation-delay: 610ms;
          animation-delay: 610ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 610ms;
          animation-delay: 610ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 116px);
  left: calc(50% - 49px);
  -webkit-animation-delay: 6785ms;
          animation-delay: 6785ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 6785ms;
          animation-delay: 6785ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 189px);
  left: calc(50% - 98px);
  -webkit-animation-delay: 4445ms;
          animation-delay: 4445ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 4445ms;
          animation-delay: 4445ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 95px);
  left: calc(50% - 186px);
  -webkit-animation-delay: 9031ms;
          animation-delay: 9031ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 9031ms;
          animation-delay: 9031ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -51px);
  left: calc(50% - 280px);
  -webkit-animation-delay: 3946ms;
          animation-delay: 3946ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 3946ms;
          animation-delay: 3946ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 14px);
  left: calc(50% - 24px);
  -webkit-animation-delay: 5499ms;
          animation-delay: 5499ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 5499ms;
          animation-delay: 5499ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -175px);
  left: calc(50% - 87px);
  -webkit-animation-delay: 1169ms;
          animation-delay: 1169ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 1169ms;
          animation-delay: 1169ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -76px);
  left: calc(50% - 263px);
  -webkit-animation-delay: 5968ms;
          animation-delay: 5968ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 5968ms;
          animation-delay: 5968ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 196px);
  left: calc(50% - 110px);
  -webkit-animation-delay: 535ms;
          animation-delay: 535ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 535ms;
          animation-delay: 535ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - 131px);
  left: calc(50% - 147px);
  -webkit-animation-delay: 7981ms;
          animation-delay: 7981ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 7981ms;
          animation-delay: 7981ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -143px);
  left: calc(50% - 198px);
  -webkit-animation-delay: 8264ms;
          animation-delay: 8264ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 8264ms;
          animation-delay: 8264ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 28px);
  left: calc(50% - 74px);
  -webkit-animation-delay: 9206ms;
          animation-delay: 9206ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 9206ms;
          animation-delay: 9206ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -6px);
  left: calc(50% - 207px);
  -webkit-animation-delay: 2515ms;
          animation-delay: 2515ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 2515ms;
          animation-delay: 2515ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 46px);
  left: calc(50% - 38px);
  -webkit-animation-delay: 9160ms;
          animation-delay: 9160ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 9160ms;
          animation-delay: 9160ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 53px);
  left: calc(50% - 245px);
  -webkit-animation-delay: 763ms;
          animation-delay: 763ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 763ms;
          animation-delay: 763ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -191px);
  left: calc(50% - 63px);
  -webkit-animation-delay: 9689ms;
          animation-delay: 9689ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 9689ms;
          animation-delay: 9689ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(800px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(800px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}